{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BayaniHire: Interviewer Center</title>
</head>
<body>

    <label style="font-family: Georgia; font-size: 30px; font-weight: bold;">BayaniHire: Interviewer Center</label>
    <br><br>
    
    <img src="{% static 'Logo.png' %}" alt="BayaniHire Logo" width="500px" height="300px">
    <br><br>

    <button style="font-family: Georgia; font-size: 14px;" onclick="window.location.href='{% url 'INTprofile' %}'">Profile</button>
    <button style="font-family: Georgia; font-size: 14px;" onclick="window.location.href='{% url 'INTappointments' %}'">Appointments</button>
    <button style="font-family: Georgia; font-size: 14px;" onclick="window.location.href='{% url 'INTapplicants' %}'">Applicants</button>
    <button style="font-family: Georgia; font-size: 14px;" onclick="window.location.href='{% url 'INTfeedback' %}'">Interview Feedback</button>
    <button style="font-family: Georgia; font-size: 14px;" onclick="window.location.href='{% url 'INThistory' %}'">Feedback History</button>

    <br><br>

    <label style="font-family: Georgia; font-size: 24px;">Applied For:</label> <span style="font-family: Georgia; font-size: 16px;">*INSERT TEXT HERE*</span><br>
    <label style="font-family: Georgia; font-size: 24px;">Name:</label> <span style="font-family: Georgia; font-size: 16px;">*INSERT TEXT HERE*</span><br>
    <label style="font-family: Georgia; font-size: 24px;">Gender:</label> <span style="font-family: Georgia; font-size: 16px;">*INSERT TEXT HERE*</span><br>
    <label style="font-family: Georgia; font-size: 24px;">Age:</label> <span style="font-family: Georgia; font-size: 16px;">*INSERT TEXT HERE*</span><br>
    <label style="font-family: Georgia; font-size: 24px;">Current Address:</label> <span style="font-family: Georgia; font-size: 16px;">*INSERT TEXT HERE*</span><br>
    <label style="font-family: Georgia; font-size: 24px;">Phone Number:</label> <span style="font-family: Georgia; font-size: 16px;">*INSERT TEXT HERE*</span><br>
    <label style="font-family: Georgia; font-size: 24px;">Email:</label> <span style="font-family: Georgia; font-size: 16px;">*INSERT TEXT HERE*</span><br>
    <label style="font-family: Georgia; font-size: 24px;">Username:</label> <span style="font-family: Georgia; font-size: 16px;">*INSERT TEXT HERE*</span>

    <br><br>

    <table border="1" style="font-family: Georgia; font-size: 20px;">
        <tr>
            <th>Files Uploaded</th>
        </tr>
        <tr>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
        </tr>
        <tr>
            <td>3</td>
        </tr>
    </table>
    <button style="font-family: Georgia; font-size: 18px;">View File</button> <button style="font-family: Georgia; font-size: 18px;">Download</button> <button style="font-family: Georgia; font-size: 18px;">Print</button>
    <br><br>

    <label style="font-family: Georgia; font-size: 24px;">Job Title:</label> <span style="font-family: Georgia; font-size: 16px;">*INSERT TEXT HERE*</span><br>
    <label style="font-family: Georgia; font-size: 24px;">Job Requirements:</label>
    <br>
    <textarea rows="10" cols="50" style="font-family: Georgia; font-size: 16px;">
*INSERT TEXT HERE*
*INSERT TEXT HERE*
*INSERT TEXT HERE*
*INSERT TEXT HERE*
*INSERT TEXT HERE*
*INSERT TEXT HERE*
*INSERT TEXT HERE*
*INSERT TEXT HERE*
*INSERT TEXT HERE*
    </textarea>

    <br><br>

    <button style="font-family: Georgia; font-size: 20px;" onclick="window.location.href='{% url 'INTapplicants' %}'">Back</button>
    
    <br><br>

    <label style="font-family: Georgia; font-size: 40px;font-weight: bold;">Applicant Information</label>

</body>
</html>
