{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>BayaniHire Admin Center</title>
</head>
<body>
    <!-- Logo -->
    <div>
        <img src="{% static 'Logo.png' %}" alt="BayaniHire Logo" width="200" height="200">
    </div>

    <!-- Buttons -->
    <div>
        <button onclick="window.location.href='{% url 'list_of_applicants' %}';">List of Applicants</button>
        <button onclick="window.location.href='{% url 'list_of_jobs' %}';">List of Jobs</button>
        <button onclick="window.location.href='{% url 'qualification' %}';">Qualification</button>
        <button onclick="window.location.href='{% url 'schedule' %}';">Schedule</button>
        <button onclick="window.location.href='{% url 'feedback' %}';">Feedback</button>
    </div>

    <!-- Title and Profile -->
    <div>
        <h1>BayaniHire Admin Center</h1>
        <button onclick="window.location.href='{% url 'adminprofile' %}';">Profile</button>
    </div>
    <h2>Create/Edit Job Details & Requirements</h2>
    <table>
        <tr>
            <td><strong>Status:</strong></td>
            <td><select><option>ACTIVE</option></select></td>
            <td><strong>Date:</strong></td>
            <td><input type="date" value="2024-09-20"></td>
        </tr>
        <tr>
            <td><strong>Job Title</strong></td>
            <td><input type="text" placeholder="Job Title"></td>
            <td><strong>Job Benefits</strong></td>
            <td><textarea placeholder="Job Benefits"></textarea></td>
        </tr>
        <tr>
            <td><strong>Company</strong></td>
            <td><input type="text" placeholder="Company"></td>
        </tr>
        <tr>
            <td><strong>Job Description</strong></td>
            <td><textarea placeholder="Job Description"></textarea></td>
            <td><strong>Job Requirements</strong></td>
            <td><textarea placeholder="Job Requirements"></textarea></td>
        </tr>
    </table>
    <button>Save/Upload</button>
</body>
</html>
